body {
	background-color: black;
}

h1 {
	color: white;
	text-align: center;
	font-size: 4em;
}

#form-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;
}
